@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 192 16% 94%; /* 50 instead of white */
    --foreground: 0 0% 0%; /* 950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 0 0% 0%; /* 950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 0 0% 0%; /* 950 */

    --primary: 256 50% 52%; /* primary */
    --primary-foreground: 220 15% 92%; /* 100 instead of 50 */

    --secondary: 197 10% 87%; /* 200 instead of 100*/
    --secondary-foreground: 240 10% 8%; /* 900 */

    --muted: 197 10% 87%; /* 200 instead of 100 */
    --muted-foreground: 228 5% 40%; /* 500 */

    --accent: 197 10% 87%; /* 200 instead of 100 */
    --accent-foreground: 240 10% 8%; /* 900 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 220 15% 92%; /* 100 instead of 50 */

    --border: 220 15% 84%; /* 200 */
    --input: 220 15% 84%; /* 200 */

    --ring: 256 50% 52%; /* primary */
    --radius: 0.5rem;

    --alternate: 155 61% 44%;
  }

  .dark {
    --background: 0 0% 0%; /* 950 */
    --foreground: 192 16% 94%; /* 50 instead of white */

    --card: 240 10% 8%; /* primary 900 */
    --card-foreground: 0 0% 100%; /* white instead of 50 */

    --popover: 0 0% 0%; /* 950 */
    --popover-foreground: 192 16% 94%; /* 50 */

    --primary: 251 87% 76%; /* primary */
    --primary-foreground: 240 10% 8%; /* 900 */

    --secondary: 200 5% 12%; /* 800 */
    --secondary-foreground: 0 0% 100%; /* white instead of 50 */

    --muted: 200 5% 12%; /* 800 */
    --muted-foreground: 228 5% 60%; /* 400 */

    --accent: 200 5% 12%; /* 800 */
    --accent-foreground: 0 0% 100%; /* white instead of 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 5% 16%; /* 700 */
    --input: 225 5% 16%; /* 700 */

    --ring: 251 87% 76%; /* primary */
    --radius: 0.5rem;

    --alternate: 155 61% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Custom Typography styles */

.ProseMirror blockquote {
  border-left-color: #6847c2;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  @apply font-bold;
  @apply font-sans;
}

.ProseMirror p {
  @apply text-muted-foreground;
  @apply font-sans;
}

.ProseMirror a {
  color: #6847c2;
  font-weight: bold;
  @apply font-sans;
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}

.ProseMirror li {
  @apply text-muted-foreground;
}

.ProseMirror pre,
.ProseMirror code {
  @apply bg-muted;
  @apply text-foreground;
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type='taskList'] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type='taskList'] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type='taskList'] li > label input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #d0d5dd;
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid black;
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: #f8f9fa;
  }

  &:active {
    background-color: #e9ecef;
  }

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type='taskList'] li[data-checked='true'] > div > p {
  color: #2cb67d;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.contains-task-list {
  list-style-type: none;
}
