.ProseMirror {
  .tableWrapper {
    @apply my-12;
  }

  table {
    @apply box-border w-full border-collapse rounded border;

    td,
    th {
      @apply relative min-w-[100px] border p-2 text-left align-top;

      &:first-of-type:not(a) {
        @apply mt-0;
      }

      p {
        @apply m-0;

        & + p {
          @apply mt-3;
        }
      }
    }

    th {
      @apply font-bold;
    }

    .column-resize-handle {
      @apply pointer-events-none absolute -bottom-[2px] -right-1 top-0 flex w-2;

      &::before {
        @apply ml-2 h-full w-[1px] bg-foreground/20;
        content: '';
      }
    }

    .selectedCell {
      @apply border-double border-foreground/20 bg-background/80;
    }

    .grip-column,
    .grip-row {
      @apply absolute z-10 flex cursor-pointer items-center justify-center bg-background/80;
    }

    .grip-column {
      @apply -top-3 left-0 -ml-[1px] h-3 w-[calc(100%+1px)] border-l border-foreground/20;

      &:hover,
      &.selected {
        &::before {
          content: '';
          @apply w-2.5;
        }
      }

      &:hover {
        @apply bg-foreground/20;

        &::before {
          @apply border-b-2 border-dotted border-foreground/60;
        }
      }

      &.first {
        @apply rounded-tl-sm border-transparent;
      }

      &.last {
        @apply rounded-tr-sm;
      }

      &.selected {
        @apply border-foreground/30 bg-foreground/30 shadow-sm;

        &::before {
          @apply border-b-2 border-dotted;
        }
      }
    }

    .grip-row {
      @apply -left-3 top-0 -mt-[1px] h-[calc(100%+1px)] w-3 border-t border-foreground/20;

      &:hover,
      &.selected {
        &::before {
          @apply h-2.5;
          content: '';
        }
      }
      &:hover {
        @apply bg-foreground/20;

        &::before {
          @apply border-l-2 border-dotted border-foreground/60;
        }
      }

      &.first {
        @apply rounded-tl-sm border-transparent;
      }

      &.last {
        @apply rounded-bl-sm;
      }

      &.selected {
        @apply border-foreground/30 bg-foreground/30 shadow-sm;

        &::before {
          @apply border-l-2 border-dotted;
        }
      }
    }
  }
}
