@import '../styles/partials/editor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 220 27% 98%; /* 50 instead of white */
    --foreground: 231 30% 13%; /* 800 instead of 950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 231 30% 13%; /* 800 instead of 950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 231 30% 13%; /* 800 instead of 950 */

    --primary: 317 87% 44%; /* primary 600 */
    --primary-foreground: 220 27% 98%; /* 50 */

    --secondary: 270 10% 96%; /* 100 */
    --secondary-foreground: 231 29% 9%; /* 900 */

    --muted: 270 10% 96%; /* 100 */
    --muted-foreground: 0 0% 43%; /* 500 */

    --accent: 270 10% 96%; /* 100 */
    --accent-foreground: 231 29% 9%; /* 900 */

    --destructive: 0 68% 42%;
    --destructive-foreground: 0 0% 100%; /* white */

    --border: 270 10% 92%; /* 200 */
    --input: 270 10% 92%; /* 200 */

    --ring: 317 87% 44%; /* primary 600 */
    --alternate: 111 100% 32%;

    --radius: 0.3rem;
  }

  .dark {
    --background: 220 84% 5%; /* 950 */
    --foreground: 270 10% 92%; /* 200 instead of 50 */

    --card: 231 29% 9%; /* 900 instead of 950 */
    --card-foreground: 270 10% 96%; /* 100 instead of 50 */

    --popover: 231 29% 9%; /* 900 instead of 950 */
    --popover-foreground: 270 10% 96%; /* 100 instead of 50 */

    --primary: 317 87% 52%; /* primary 500 */
    --primary-foreground: 231 29% 9%; /* 900 */

    --secondary: 231 30% 13%; /* 800 */
    --secondary-foreground: 220 27% 98%; /* 50 */

    --muted: 231 30% 13%; /* 800 */
    --muted-foreground: 0 0% 71%; /* 400 */

    --accent: 231 30% 13%; /* 800 */
    --accent-foreground: 220 27% 98%; /* 50 */

    --destructive: 0 68% 40%;
    --destructive-foreground: 0 0% 100%; /* white */

    --border: 231 30% 13%; /* 800 */
    --input: 231 30% 13%; /* 800 */

    --ring: 317 87% 52%; /* primary 500 */
    --alternate: 85 98% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

/* Tiptap Pro Styles */

input::placeholder,
textarea::placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @apply text-black/40 dark:text-white/40;
}

.react-colorful {
  width: 100% !important;
}

[data-reference-hidden] {
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  @apply h-1 w-1 bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-500/50;
}

input[type='range'] {
  @apply h-2.5 appearance-none rounded border-0 bg-neutral-200 transition-all active:bg-neutral-300;
  @apply dark:bg-neutral-700 dark:active:bg-neutral-600;

  &::-webkit-slider-thumb {
    @apply h-5 w-3 appearance-none rounded-full bg-neutral-800 transition-all active:h-6 active:w-4 active:bg-neutral-900;
    @apply dark:bg-neutral-100 dark:active:bg-white;
  }
}
